/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 20, 2016, 4:49:05 PM
    Author     : hoanghoi
*/


.has-chil, .delete, .edit {
    color: blueviolet;
    cursor: pointer;
}
